{% extends "auth_base2.html" %}

{% block title %}
    Password Change
{% endblock title %}

{% block content %}
    <div class="flex gap-[1rem]">
        {% include "accounts/includes/sidebar.html" %}
        <div class="flex flex-col w-[992px] h-[600px] bg-bg_col px-12 py-8 rounded-[10px] space-y-8">
            <h1 class="text-4xl font-semibold">Change Password</h1>
            <form class=" px-[1.5rem] mt-[2rem]" action="{% url "accounts:passwordChange" %}" method="post">
                {% csrf_token %}
                <div class="flex flex-col">
                    <label for="old-password">New Password</label>
                    {{ form.old_password }}
                </div>
                <div class="flex flex-col">
                    <label for="new-email">New Password</label>
                    {{ form.new_password1 }}
                </div>
                <div class="flex flex-col">
                    <label for="confirm-email">Confirm Password</label>
                    {{ form.new_password2 }}
                </div> 
                
                <button class="w-[126px] h-10 p-3 bg-[#ffa028]/60 rounded-lg justify-center items-center gap-2 inline-flex col-start-2 self-end ml-auto" type="submit">Save</button>
            </form>
        </div>
    </div>
{% endblock content %}