{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% tailwind_css %}
    <title>MindSpark | {% block title %}{% endblock %}</title>
  </head>
  <body class="bg-bg_col font-raleway text-font_col">
    <header class="flex w-full py-[1.31rem] px-[4.25rem] border border-b-primary">
      <div id="logo" class="container w-[12.625rem] p-1">
        <img src="{% static "assets/Group 1.svg" %}" alt="logo">
      </div>
    </header>
    <main class="flex place-content-center py-10">
      {% block content %} {% endblock %}
    </main>
  </body>
</html>